<div class="row">
    <div class="col-md-12">
        <h2>Employees</h2>
        <hr />
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>Student ID&nbsp;ID</th>
                        <th>Name</th>
                        <th>Program</th>
                        <th>GPA</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each students}}
                    <tr>
                        
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
    {{#unless employees}}
    <div class="col-md-12 text-center">
        <strong>{{message}}</strong> 
    </div>
    {{/unless}}
</div>

